.arc text {
    font-size: 20px;
    text-anchor: middle;
    text-shadow: 1px 0px;
}

.arc path {
    stroke: #fff;
    stroke-width: 2%;    
}

.panel text {
    font-size: 15px;    
}

.process_percentage {
    height: 200px;
    width: 200px;
    margin: 20px auto;
}
  
.progress-bar {
    fill: #7ef0e1;
}
  
.progress-bar-bg {
    fill: #726c6c;
}
  
.progress-label {
    fill: #aaa;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-anchor: middle;
}

.qtitle{    
    border-bottom: 2px solid #77db95;
    border-left: 20px solid #77db95;    
    padding-left: 20px;
    padding-right: 40px;
    width: fit-content;
}

.pc_wrapper{
   margin-top: 20px; 
   display: flex;
   justify-content: space-around;   
}

.middle_wrapper{
    display: flex;
    flex-direction: column;
    max-width: 120px;
    height: 400px;
    justify-content: space-around;
}

.pc_title{
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}

.hbc_wrapper{
    margin: 20px 0px;    
    padding: 10px;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: row;
}

.hbc_title_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.sp_wrapper{
    margin: 20px 0px;    
    padding: 10px;    
    display: flex;
    flex-direction: row;
}

#dv_list_group{
    width: 100%;
}

.donut_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;    
}

.sp_text{
    width: 160px;    
    margin-top: 40px;    
    font-size: 11px;
    color: #aaa;
    margin-left: 20px
}

.popup {
    position: absolute;
    display: none;
    background-color: aliceblue;    
    border: 2px solid cyan;
    border-radius: 20px;
    padding: 20px;
}
  

