.tag_rice{
    fill: yellow;
    stroke-width: 1px;
    stroke: black;
}

.tag_vegetable{
    fill: green;
    stroke-width: 1px;
    stroke: black;
}

.tag_meat{
    fill: red;
    stroke-width: 1px;
    stroke: black;
}

.load_more_button_container{
    width: 100%;
    display: flex;
    justify-content: center;
}