#segmentation_seg_content{
    display: flex; 
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#segmentation_seg_content > .gallery{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#segmentation_seg_content > div > h2{
    text-align: center;
}

.segmentation_head_text{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.segmentation_head_text > .head_text{
    width: 300px;
    display: flex;
    justify-content: center;
    
}

#cross_point_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#model_table {
    margin: 30px 20px;
    width: 100%
}

#model_table tr :first-child{
    font-weight: bold;
    width: 300px;
}

#model_table th+th{
    width: 150px
}

#model_table th, td {
    padding: 15px;
    text-align: center;
}

.model_table_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;    
}