.modal_content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-top: 20px solid black;
    border-radius: 25px;
    width: 50%; /* Could be more or less, depending on screen size */
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.modal_text{
    font-size: 18px;
}

.modal_button_container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;    
    margin-top: 30px;
}

.modal_yes_button{
    background-color: chartreuse;
    width: 20%;
    height: 30px;
    border-radius: 10px;
}

.modal_no_button{
    background-color: crimson;
    width: 20%;
    height: 30px;
    border-radius: 10px;
}