.nav-tabs{
    margin-left: 50px;
}

.hidden{
    display: none;
}

.gallery_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.img_wrapper{
    margin: 10px;
}

.time_chart{
    width: 100%;
    height: 300px
}

#tray_detection_details_content{
    display: flex;
    flex-direction: row;
}

.details_container{
    margin-left: 20px;    
}

.details_container div{
    margin-top: 10px;
}

.tray_detection_table tr :first-child{
    font-weight: bold;
    width: 200px;
}

.tray_detection_table th+th{
    width: 200px
}

.tray_detection_table th, td {
    padding: 15px;
    text-align: center;
}

.table_title {
    font-size: 16px;
    margin: 20px 0px;
}

.tray_detection_tray_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 10px 30px;
}