.nav-tabs{
    margin-left: 50px;
}

.hidden{
    display: none;
}

.gallery_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.img_wrapper{
    margin: 10px;
}

.time_chart{
    width: 100%;
    height: 300px
}

#tray_detection_details_content{
    display: flex;
    flex-direction: row;
}

.details_container{
    margin-left: 20px;    
}

.details_container div{
    margin-top: 10px;
}

.intro_container{
    margin: 30px
}

.title{
    font-size: 60px;
    border-bottom: 2px solid #6d8fb3;
    border-left: 20px solid #6d8fb3;    
    padding-left: 20px;
    padding-right: 40px;
    width: fit-content;
}

.greybox{
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding: 20px 30px;
    margin: 20px;
    font-size: 16px;
}

.lightbluebox{
    background-color: rgb(175, 230, 255);
    text-align: center;
    padding: 20px 30px;
    margin: 20px;
    font-size: 16px;
}

.space{
    margin-top: 40px;
}

.center_wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}