{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/base_min.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/common.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/step_modal.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/list_group.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/list_group.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/gallery.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/slider.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/data_visualization_step.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/tray_detection_step.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/ocr_step.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/classify_eaten_step.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/classify_dish_step.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/segmentation_step.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/multilabel_step.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/pair_step.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/main_content_manager.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/modal_manager.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/sidebar_manager.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/nav_buttons.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/d3.min.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/gallery.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/list_group.js')}}"></script>
<script type="text/javascript"
        src="https://unpkg.com/d3-simple-slider"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/data_visualization_step.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/cross_point.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/tray_detection_step.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/ocr_step.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/classify_eaten_step.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/classify_dish_step.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/segmentation_step.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/pair_step.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/multilabel_step.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/data_visualization_content.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/step_modal.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/trash_modal.js')}}"></script>
{% endblock %}

{% block navbar %}
<nav class="fixed-top bg-dark shadow wrapper">
    <span id="navbar-text">FYP TM4</span> 
    <a href='#' id="start_button">
        <img src="{{url_for('static', filename='icons/play-fill.svg')}}"/>     
    </a>
    <a href="#" id="pause_button">
        <img src="{{url_for('static', filename='icons/pause-fill.svg')}}"/>    
    </a>
    <a href="#" id="trash_button">
        <img src="{{url_for('static', filename='icons/trash.svg')}}"/>    
    </a>    
</nav>
{% endblock %}

{% block title %}
    Food Waste Analysis
{% endblock %}

{% block content %}

<div class="modal">
</div>
<div class="wrapper">    
    <nav id="sidebar">
    </nav>
    <div class="vertical_wrapper">
        {% block step_progress_bar %}
        {% endblock %}
        <div class="vertical_wrapper" id="main_content">
        </div>
    </div>
</div>

{% endblock %}