<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#" id="classify_eaten_introduction">Introduction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="classify_eaten_classifier">Classifier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="classify_eaten_infer_time">Infer Time</a>
    </li>
</ul>

<div id="classify_eaten_introduction_content" class="hidden">
    a
</div>

<div id="classify_eaten_classifier_content" class="hidden">
    <div>
        <h2>Eaten</h2>
        <div id="gallery_eaten" class="gallery_container"></div>
    </div>
    <div>
        <h2>Uneaten</h2>
        <div id="gallery_uneaten" class="gallery_container"></div>
    </div>
</div>

<div id="classify_eaten_infer_time_content" class="hidden">
    <div id="classify_eaten_infer_time_graph" class="time_chart">
    </div>
</div>