<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#" id="classify_dish_introduction">Introduction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="classify_dish_classifier">Classifier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="classify_dish_infer_time">Infer Time</a>
    </li>
</ul>

<div id="classify_dish_introduction_content" class="hidden">
    a
</div>

<div id="classify_dish_classifier_content" class="hidden gallery_container">

</div>

<div id="classify_dish_infer_time_content" class="hidden">
    <div id="classify_dish_infer_time_graph" class="time_chart">
    </div>
</div>