<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#" id="classify_dish_introduction">Introduction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="classify_dish_classifier">Classifier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="classify_dish_infer_time">Infer Time</a>
    </li>
</ul>

<div id="classify_dish_introduction_content" class="hidden intro_container">
  <p class="title">Classify Dish Type Step</p>

  <h2 class="space"> Main Objective </h2>  
  <p class='greybox'>
      From the collection of tray images, we need to classify which station / restaurant it comes from.    
  </p>    
  <p class='long_text'>
      The classification will be helpful for pairing the trays, and
      doing data analysis related to each station.
  </p>

  <h2 class="space"> Dish Type </h2>
  <div class="vertical_wrapper center_wrapper">
    <img src='static/images/canteen.jpg' width=800/>
    <figcaption>the layout of the canteen</figcaption>
  </div>
  <p class='greybox'>
    There are 6 main stations in the LG1 canteen, namely, bbq, delicacies, two choices, veggies, teppanyaki and japanese.     
    However, we will ignore veggies since it has a few customers.
  </p> 
  <div id='classify_dish_intro_gallery' class='gallery_container'>    
  </div>

  <h2 class="space"> ResNeXt-101 32x8d </h2>
  <div class="vertical_wrapper center_wrapper">
    <img src='static/images/resnext.png'/>
    <figcaption><a href="https://arxiv.org/abs/1611.05431">
      source: https://arxiv.org/abs/1611.05431
    </a></figcaption>
  </div>
  <p class='long_text'>
    We are using the state-of-the-art ResNeXt-101 32x8d for the dish classification. 
  </p>
</div>

<div id="classify_dish_classifier_content" class="hidden gallery_container">

</div>

<div id="classify_dish_infer_time_content" class="hidden">
    <div id="classify_dish_infer_time_graph" class="time_chart">
    </div>
</div>