<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#" id="classify_eaten_introduction">Introduction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="classify_eaten_classifier">Classifier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="classify_eaten_infer_time">Infer Time</a>
    </li>
</ul>

<div id="classify_eaten_introduction_content" class="hidden intro_container">
  <p class="title">Eaten VS Uneaten Step</p>

  <h2 class="space"> Main Objective </h2>  
  <p class='greybox'>
      From the collection of tray images, we need to classify whether it is eaten or uneaten.    
  </p>  
  <div id="classify_eaten_image_layout">
    <div class="vertical_wrapper center_wrapper">
      <div>
        <img src='static/images/uneaten_1.jpg' width=200 style="margin: 10px"/>
        <img src='static/images/uneaten_2.jpg' width=200 style="margin: 10px"/>
      </div>
      <figcaption>Examples of uneaten food</figcaption>
    </div>
    <div class="vertical_wrapper center_wrapper">
      <div>
        <img src='static/images/eaten_1.jpg' width=200 style="margin: 10px"/>
        <img src='static/images/eaten_2.jpg' width=200 style="margin: 10px"/>
      </div>
      <figcaption>Examples of eaten food</figcaption>
    </div>
  </div>
  <p class='long_text'>
      As you will see later, the classification will be helpful for pairing the trays, and
      doing comparison between food before they are eaten and after they are eaten.
  </p>

  <h2 class="space"> ResNeXt-101 32x8d </h2>
  <div class="vertical_wrapper center_wrapper">
    <img src='static/images/resnext.png'/>
    <figcaption><a href="https://arxiv.org/abs/1611.05431">
      source: https://arxiv.org/abs/1611.05431
    </a></figcaption>
  </div>
  <p class='long_text'>
    We are using the state-of-the-art ResNeXt-101 32x8d for this binary classification. 
  </p>

</div>

<div id="classify_eaten_classifier_content" class="hidden">
    <div>
        <h2>Eaten</h2>
        <div id="gallery_eaten" class="gallery_container"></div>
    </div>
    <div>
        <h2>Uneaten</h2>
        <div id="gallery_uneaten" class="gallery_container"></div>
    </div>
</div>

<div id="classify_eaten_infer_time_content" class="hidden">
    <div id="classify_eaten_infer_time_graph" class="time_chart">
    </div>
</div>