<h1>Analysis Without Pairs</h1>

<h1>What is the average portion of food of each class?</h1>
<svg id="np_1"></svg>
<h1>What is the average food portion of food of each class of each restaurant?</h1>
<svg id="np_2"></svg>
<h1>What is the average food portion of waste of each class?</h1>
<svg id="np_3"></svg>
<h1>What is the average food portion of waste of each class of each restaurant?</h1>
<svg id="np_4"></svg>

<h1>Analysis With Pairs</h1>
<h1>How are the pairs distributed?</h1>
<svg id="p_1"></svg>
