<div class="modal_content">    
    <p>video path:<span id='video'></span></p>
    <p>tray path:<span id='path'></span></p>
    <p>object id:<span id='object_id'></span></p>
    <p>ocr:<span id='ocr'></span></p>
    <p>eaten:<span id='eaten'></span></p>
    <p>dish:<span id='dish'></span></p>
    <p>area:<span id='area'></span></p>
    <p>date time:<span id='date_time'></span></p>    
    <p>mask:<span id='seg_path'></span></p>
    <p>total pixel:<span id='seg_total'></span></p>
    <p>rice pixel:<span id='seg_rice'></span></p>
    <p>vegetable pixel:<span id='seg_vegetable'></span></p>
    <p>meat pixel:<span id='seg_meat'></span></p>
    <p>other pixel:<span id='seg_other'></span></p>      
    <p>multilabel rice:<span id='ml_rice'></span></p>
    <p>multilabel vegetable:<span id='ml_vegetable'></span></p>
    <p>multilabel meat:<span id='ml_meat'></span></p>        
</div>