{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/input_ocr.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/common.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles/gallery.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/d3.min.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static', filename='javascripts/input_ocr.js')}}"></script>
{% endblock %}

{% block content %}

<div class='hwrap'>

    <div class='vwrap'>

    <select id="sel_area" onchange="change_area()">
        <option value="bbq">bbq</option>
        <option value="teppanyaki">teppanyaki</option>
        <option value="main_return_area">main_return_area</option>    
    </select>

    <select id="sel_video" multiple="multiple" onchange="change_video()" size="20">   
    </select>

    <button onclick="filter()">
        Filter
    </button>

    <button onclick="submit()">
        Submit
    </button>

    </div>

    <div id="gallery_container">

    </div>

</div>

{% endblock %}