<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#" id="multilabel_introduction">Introduction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="multilabel_classifier">Classifier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="multilabel_infer_time">Infer Time</a>
    </li>
</ul>

<div id="multilabel_introduction_content" class="hidden intro_container">
  <p class="title">Multilabel Step</p>

  <h2 class="space"> Main Objective </h2>  
  <p class='greybox'>
      From the collection of tray images, we need to classify which station / restaurant it comes from.    
  </p>    
  <p class='long_text'>
      The classification will be helpful for pairing the trays, and
      doing data analysis related to each station.
  </p>
</div>

<div id="multilabel_classifier_content" class="hidden gallery_container">

</div>

<div id="multilabel_infer_time_content" class="hidden">
    <div id="multilabel_infer_time_graph" class="time_chart">
    </div>
</div>