<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#" id="segmentation_introduction">Introduction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="segmentation_seg">Segmentation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" id="segmentation_pixel_info">Pixel Information</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="segmentation_infer_time">Infer Time</a>
    </li>
</ul>

<div id="segmentation_introduction_content" class="hidden">
    a
</div>

<div id="segmentation_seg_content" class="hidden">
  <div class="segmentation_head_text">
    <div class="head_text"> 
      <b>Original</b>
    </div>
    <div class="head_text"> 
      <b>Mask</b>
    </div>
    <div class="head_text"> 
      <b>Blended</b>
    </div>
  </div>
  <div id="segmentation_gallery">    
  </div>    
</div>

<div id="segmentation_pixel_info_content" class="hidden">
    c
</div>

<div id="segmentation_infer_time_content" class="hidden">
    <div id="segmentation_infer_time_graph" class="time_chart">
    </div>
</div>