<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#" id="tray_detection_introduction">Introduction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="tray_detection_gallery">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="tray_detection_details">Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="tray_detection_infer_time">Infer Time</a>
    </li>
</ul>

<div id="tray_detection_introduction_content">
    a
</div>

<div class="gallery_container" id="tray_detection_gallery_content">
</div>

<div id="tray_detection_details_content">
    b
</div>

<div id="tray_detection_infer_time_content">
    <div id="tray_detection_infer_time_graph" class="time_chart">
    </div>
</div>

