<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#" id="tray_detection_introduction">Introduction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="tray_detection_gallery">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="tray_detection_details">Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="tray_detection_infer_time">Infer Time</a>
    </li>
</ul>

<div id="tray_detection_introduction_content">
    a
</div>

<div class="gallery_container" id="tray_detection_gallery_content">
</div>

<div id="tray_detection_details_content">
    <div class="img_wrapper">
    </div>
    <div class="vertical_wrapper details_container">
        <div>
            <b>Image Path: </b>
            <span id="image_path"></span>
        </div>
        <div>
            <b>Video Path: </b>
            <span id="video_path"></span>
        </div>
        <div>
            <b>Object ID: </b>
            <span id="object_id"></span>
        </div>
        <div>
            <b>Area: </b>
            <span id="area"></span>
        </div>
        <div>
            <b>Date Time: </b>
            <span id="date_time"></span>
        </div>
        <div>
            <b>Inference Time: </b>
            <span id="infer_time"></span>
        </div>
    </div>
</div>

<div id="tray_detection_infer_time_content">
    <div id="tray_detection_infer_time_graph" class="time_chart">
    </div>
</div>

